.Aligner {
  display:flex;
  align-items:center;
  justify-content:center;
}
.choiceAligner {
  max-width: 60%;
}

.choiceContainer{
  top: 10em;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 4px;
  color: inherit;
  padding-bottom:10px;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.photoContainer{
  display:block;
}
.photo{
  background-size: 'cover';
  border-radius: 1;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
  float: 'left';
  height: 100;
  margin: 5;
  overflow: 'hidden';
  width: 100;
  display: inline;
  box-shadow: .5px 3px 2px .5px rgba(0, 0, 0, 0.15);
}


/*FORCED STYLING FOR SLIDES*/
/********************************/
.viewport-slider-button {
  background-color: rgba(255,255,255, 0.5) !important;
  border: 1px solid #fff;
  border-radius:2.5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: .9;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color:black;
  top:20em;
  left:47% !important;
  position:relative !important;
  transition: opacity .35s;
  background-color: inherit;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-button:active {
  -webkit-transform: translateY(3px) !important;
  transform: translateY(3px) !important;
  -webkit-animation: none !important;
  animation: none !important;
}
.viewport-slider-item{
  box-sizing: content-box !important;
}

/*DO NOT SHOW THE BELOW ELEMENTS*/
/********************************/
.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
  visibility:hidden !important;
  position:absolute !important;
}

.viewport-slider-paginator-bullet {
  background: #fff;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
  visibility: hidden !important;
}

.viewport-slider-paginator-bullet:hover {
  opacity: .6;
  visibility: hidden !important;
}

.viewport-slider-paginator-bullet.is-active {
  opacity: 1;
  visibility:hidden !important;
}
