@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.Aligner {
  display:flex;
  align-items:center;
  justify-content:center;
}
.choiceAligner {
  max-width: 60%;
}

.choiceContainer{
  top: 3em;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 4px;
  color: inherit;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.photoContainer{
  display: block;
  width: 100%;
  /*overflow: hidden;*/
}
.photo{
  background-size: cover;
  background-position: center top;

  /*border-radius: 1;*/
  /*border-style: solid;*/
  /*border-width: 1.5px;*/
  /*border-color: black;*/
  float: 'left';
  height: 100%;
  /*overflow: 'hidden';*/
  width: 100%;
  display: inline;
  /*box-shadow: .5px 3px 2px .5px rgba(0, 0, 0, 0.15);*/
  overflow: auto;
}

.photoSmall {
  background-size: 'cover';
  border-radius: 1;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
  float: 'left';
  height: 45px;
  margin: 5px;
  overflow: 'hidden';
  width: 45px;
  display: inline;
  box-shadow: .5px 3px 2px .5px rgba(0, 0, 0, 0.15);
}

.list-group {
  margin-top: 25px;
}

.quoteContainer {
  font: 16px;
  border-radius: 5px;
  width: 100%;
  margin: 7px;
}

.quotes {
  background-color: white;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: none;
  position: relative;
}

.quotes:hover, .quoteContainer:hover, .active {
  background-color: #F5F5F5;
}


button:focus {
  outline: none;
}

.slick-slider {
  position: initial;
}

.slick-slide img {
  display: inline; 
}

.slick-dots {
    position: absolute;
    bottom: 100px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 64%;
}

.carouselContainer {
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  height: 400px;
  color: #333;
}



/*FORCED STYLING FOR SLIDES*/
/********************************/
.viewport-slider-button {
  background-color: rgba(255,255,255, 0.5) !important;
  border: 1px solid #fff;
  border-radius:2.5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: .9;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color:black;
  left:47% !important;
  position:relative !important;
  transition: opacity .35s;
  background-color: inherit;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.15);
  visibility:hidden !important;
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-button:active {
  -webkit-transform: translateY(3px) !important;
  transform: translateY(3px) !important;
  -webkit-animation: none !important;
  animation: none !important;
}
.viewport-slider-item{
  box-sizing: content-box !important;
}

/*DO NOT SHOW THE BELOW ELEMENTS*/
/********************************/
.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
/*  visibility:hidden !important;
  position:absolute !important;*/
}

.viewport-slider-paginator-bullet {
  background: #fff;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
/*  visibility: hidden !important;
*/}

.viewport-slider-paginator-bullet:hover {
  opacity: .6;
/*  visibility: hidden !important;
*/}

.viewport-slider-paginator-bullet.is-active {
  opacity: 1;
/*  visibility:hidden !important;
*/}

/* PROFILE SLIDE STYLING */
/********************************/

.final-profile-container {
  width: 350px;
  background-color: #D4D4EB;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}
.final-profile-images-container {
  height: 350px;
  width: 350px;
  position: relative;
}
.square-pic {
  width: 100%;
  padding-bottom: 100%;
  overflow: crop;
  background-image: url('https://scontent.xx.fbcdn.net/v/t1.0-9/10372539_10202332334659952_3436401212391021871_n.jpg?oh=33c969e2bb49e78a5e7dc6da2731470a&oe=57CBDCF9#.jpg');
  background-size: cover;
  background-position: center top;
  border-radius: 5px;
  bottom: 0px;
}
.sq-pic-left {
  position: absolute;
  top: 4%;
  left: 4%;
  width: 60%;
  height: 60%;
}
.sq-pic-right-top {
  position: absolute;
  top: 4%;
  right: 4%;
  width: 28%;
  height: 28%;
}
.sq-pic-right-middle {
  position: absolute;
  top: 36%;
  right: 4%;
  width: 28%;
  height: 28%;
}
.sq-pic-right-bottom {
  position: absolute;
  top: 68%;
  right: 4%;
  width: 28%;
  height: 28%;
}
.profile-text, .profile-text-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.profile-text-title, .profile-text {
  padding: 0 4%;
  text-align: left;
}
.profile-text-title {
  margin-top: -8px;
  text-align: left;
  font-weight: bold;

}
.profile-text {
  margin-top: 7px;
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}
.image-slide-container {
  height: 100%;
}