.Aligner {
  display:flex;
  align-items:center;
  justify-content:center;
}
.Aligner-item {
  max-width: 30%;
}

.choiceContainer{
  top:20em;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 4px;
  color: inherit;
  padding-bottom:10px;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.15);
}


.viewport-slider-button {
  border: 1px solid #fff;
  border-radius:2.5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color:black;
  top:30em;
  left:47% !important;
  position:relative !important;
  transition: opacity .35s;
  background-color: inherit;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.viewport-slider-button:hover {
  opacity: 1;
}



/*DO NOT SHOW THE BELOW ELEMENTS*/
/********************************/
.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
  visibility:hidden !important;
}

.viewport-slider-paginator-bullet {
  background: #fff;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
  visibility: hidden !important;
}

.viewport-slider-paginator-bullet:hover {
  opacity: .6;
  visibility: hidden !important;
}

.viewport-slider-paginator-bullet.is-active {
  opacity: 1;
  visibility:hidden !important;
}
