.body{
  font-family:'Roboto';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.page-title {
  margin-top: 70px;
  background-color: rgba(10,10,10,0.6);
  position: absolute;
  left: 200px;
  justify-content: flex-start;
  align-items: center;
  width: 70%; 
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border-color: lightblue;
  font-family: 'Roboto', sans-serif; 
}

.text {
  color: #D0D0D0;
}


#background { 
    background: url('https://images.unsplash.com/photo-1455778977533-4a3ef39091c6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b73d87d680dac8ea8d0f273f69b99f27') no-repeat center; 
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.gallery-container {
  height: 600px;
  width: 70%; 
  background: white;
  position: relative;
  top: 150px;
  left: 200px;
  /*display: flex;*/
  overflow:auto;
  /*justify-content: flex-start;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
  border-radius: 3px; 
}

.section {
  margin: 0 auto;
  flex-basis: auto;
  margin-top: 50px;
  height: 150px;
  width: 80%;
  border: 3px solid lightblue;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section a, .section img {
/*  border: 5px solid blue;
*/  
}

.inputForm {
  width: 70%; 
  position: relative;
  top: 80px;
  left: 200px;
  flex-direction: column;
  justify-content: center; 
  align-items: stretch;
  background: white; 
  height: 250px;
  width: 70%;
  border-radius: 3px;
}

form > p {
  flex-grow: 1;
  min-width: 300px; 
  margin: 20px;
}

.inputs > label {
  flex-grow: 1;
  color: black;
  font-size: 17px;
  flex-basis: 100px;
  width: 100px;
  border-radius: 3px; 
}

.inputs > input {
  flex-grow: 2; 
  flex-basis: 300px;
  width: 300px;
  margin: auto;
}

p > button {
  background-color: #A4C73C;
  float: right;
  margin: 10px;
  border: none;
  font-color: white;
  border-radius: 3px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  width: 150px;
}

.brand a{
  font-family: 'Roboto';
  margin-top: 15px;
  color: white;
  font-size: 33px;
}

